.programacion-intro, .programacion-intro-osc {
    text-align: center;
    padding: 2rem;
}

.programacion-intro {
    background-color: #f9f9f9;
}

.programacion-intro h1 {
    font-size: 2.5rem;
    color: #333;
}

.programacion-intro p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 1rem;
}

.programacion-intro-osc {
    background-color: #333333;
}

.programacion-intro-osc h1 {
    font-size: 2.5rem;
    color: white;
}

.programacion-intro-osc p {
    font-size: 1.2rem;
    color: rgb(202, 202, 202);
    margin-top: 1rem;
}

.programacion-details, .programacion-details-osc {
    padding: 2rem;
}

.programacion-details {
    background-color: #eef2f3;
}

.programacion-details-osc {
    background-color: #333333;
}

.programacion-item, .programacion-item-osc {
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.programacion-item {
    background: #fff;
}

.programacion-item h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

.programacion-item p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
}

.programacion-item-osc {
    background: #4b4b4b;
}

.programacion-item-osc h2 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 1rem;
}

.programacion-item-osc p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgb(231, 231, 231);
}

.cta-button {
    display: inline-block;
    background-color: rgb(182, 28, 28);
    color: #fff;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover {
    background-color: rgb(231, 74, 74);
    transform: scale(1.05);
}

.imagenXml{
    width: 400px;
    padding: 50px;
}

@media (max-width: 768px) {
    .programacion-item, .programacion-item-osc {
        padding: 1rem;
    }

    .programacion-item h2, .programacion-item-osc h2 {
        font-size: 1.5rem;
    }

    .programacion-item p, .programacion-item-osc p {
        font-size: 1rem;
    }

    .imagenXml{
        width: 250px;
        padding: 0;
    }
}
